.thumbnail-slider .swiper-wrapper .swiper-slide img {
    max-width: 135px;
    width: 100%;
}

.slider-wrapper {
    padding-right: 60px;
}

.product_details-wrapper {
    padding-left: 30px;
}

.main-slider img {
    object-fit: contain;
    width: 100%;
}

.product_details-wrapper h4 {
    font-size: 32px;
    line-height: 35px;
    margin: 0px;
}

.rating_info {
    padding: 12px 0px;
    margin: 0px;
}

.product_details-wrapper h6 {
    font-size: 18px;
    line-height: 26px;
    max-width: 630px;
    width: 100%;
    font-weight: 400;
    margin: 0px;
}

.rating:last-child {
    color: #000;
    opacity: 25%;
}

.price-tag {
    font-size: 28px;
    font-weight: 600;
    padding: 16px 0px;
    margin: 0px 10px 0px 0px;
}
.price-tag.regularprice{
  color: #757070;
    font-weight: 500;
}
.info-box {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    max-width: 600px;
    width: 100%;
}

.quantity-selector #qtySelect {
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 180px;
    height: 45px;
    font-size: 20px;
    text-align: center;
}

.quantity-selector button {
    width: 44px;
    height: 44px;
    border: none;
    background-color: transparent;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-selector .btn-minus {
    border-right: 1px solid #ccc;
}

.quantity-selector .btn-plus {
    border-left: 1px solid #ccc;
}

.quantity-selector .btn-plus {
    /*background-color: #3b4ffe;*/
    color: #000;
}

.quantity_wrapper {
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
        column-gap: 20px;
}

.quantity-selector input:focus {
    outline: none;
    box-shadow: none;
}

.cart_btn {
    width: 100%;
    background: #464cf8;
    color: #fff;
    height: 45px;
    font-size: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addtocart_btn {
    max-width: 385px;
    width: 100%;
}

.cart_btn:hover,
.buy-btn:hover {
    background: #fff;
    color: #464cf8;
}

.tab-content {
    background-color: #eef0f2;
    padding: 30px 15px;
    border: none;
    border-top: none;
}

.nav-tabs .nav-link.active {
    background-color: #eef0f2;
    color: #000000;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    color: #6e6e6e;
    padding: 15px 30px;
    background: #cfcfcf;
    border-radius: 0;
    border: 0;
}

.tab-content h5 {
    font-size: 26px;
    font-weight: 500;
}

.tab-content p {
    font-size: 16px;
    line-height: 26px;
}
